<!-- here, test the main app feature, which is the watgAutocomplete directive -->
<br>
<div>
   <h3>Staff</h3>
   <input type="text" class="form-control"
   watg-autocomplete-old config="autoCompleteConfigStaff"
   ng-model="staff.FullName"
   selected-item="staff" />
   <br>
   <br> Output
   <pre>{{staff|json}}</pre>
</div>
<div>
   <h3>Country</h3>
   <input type="text" class="form-control"
   watg-autocomplete-old config="autoCompleteConfigCountry"
   ng-model="country.Name"
   selected-item="country"
   />
   <br>
   <br> Output
   <pre>{{country|json}}</pre>
</div>
<div>
   <h3>2nd Version (Staff)</h3>
   <watg-autocomplete config="autoCompleteConfigStaff"
   ng-model="staff.FullName"
   selected-item="staff" />
   <br>
   <br> Output
   <pre>{{staff|json}}</pre>
</div>